@{
    ViewData["Title"] = "Excluir";
}

<div class="text-center">
    <h1 class="display-4">Excluir Imóvel</h1>
    <p>Sistema de Controle de Imovéis</p>
</div>
<form>
    <a type="submit" class="btn btn-primary btn-block" asp-controller="Home" asp-action="Index">Cancelar Exclusão</a>
    <a type="submit" class="btn btn-danger btn-block" asp-controller="Cliente" asp-action="Excluir">Excluir</a>
</form>