@{
    ViewData["Title"] = "Excluir";
}

<div class="text-center">
    <h1 class="display-4">Excluir Cliente</h1>
    <p>Sistema de Controle de Imovéis</p>
</div>
<form>
    <button type="submit" class="btn btn-danger btn-block">Excluir</button>
</form>