@model ClienteModel
@{
    ViewData["Title"] = "Excluir";
}

<div class="text-center">
    <h1 class="display-4">Excluir Cliente</h1>
    <p>Sistema de Controle de Clientes</p>
</div>
<form>
    <a type="submit" class="btn btn-primary btn-block" asp-controller="Imovel" asp-action="Index">Cancelar Exclusão</a>
    <a type="submit" class="btn btn-danger btn-block" asp-controller="Cliente" asp-route-id="@Model.Id" asp-action="ExcluirConfirmacao">Excluir</a>
</form>