@model ClienteModel
@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Imobiliaria Social Solutions</h1>
    <p>Sistema de Controle de Imovéis</a>.</p>
</div>
<table class="table table-success table-striped">
    <h1 class="display-4">Clientes</h1>
    <thead>
        <tr>
            <th scope="col">Status Cliente</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">CPF</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Natl</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>

<table class="table table-success table-striped">
    <h1 class="display-4">Imóveis</h1>
    <thead>
        <tr>
            <th scope="col">Status Imóvel</th>
            <th scope="col">Tipo de Negócio</th>
            <th scope="col">Valor do imóvel</th>
            <th scope="col">Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>