<img src="~/css/unnamed.png" class="img-fluid" alt="...">
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="btn btn-primary btn-block" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>
        <a class="btn btn-primary btn-block" asp-area="" asp-controller="Imovel" asp-action="Index">Imóveis</a>

    </li>
   

</ul>