@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Adicionar novo Cliente</h1>
    <p>Sistema de Controle de Imovéis</p>
</div>
<form>
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>Cliente Ativo</option>
        <option value="1">Sim</option>
        <option value="2">Não</option>
    </select>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Nome</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Email</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">CPF</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
</form>